body{
    font-family: Rock Salt;
    font-size: 32px;
    text-transform: capitalize;
    text-align: justify;
    
}
.pass{
    text-align: center;
}
h1{
    text-shadow:2px 2px 2px magenta, 4px 4px 4px cyan, 6px 6px 6px pink, 8px 8px 8px olive;
}
#leafy{
    color: olive;
    text-decoration-line: underline;
    text-decoration-color: darkgreen;
}
.cigg{
    font-style: italic;
}
h2{
        color: orange;
        text-decoration: underline darkred;
}
a{
    text-decoration: none;
    color: darkcyan;
}
a:visited{
    color:indigo;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline dotted mediumseagreen;
    cursor:pointer;
}
ul{
list-style-type: square;
}