div{
    height: 100px;
    width: 100px;
    position: relative;
}
.box1{
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
}
.box2{
    background-color: orchid;
     position: absolute;
     top: 0;
     right: 0;
}
.box3{
    background-color: red;
     position: absolute;
     bottom: 0;
     left: 0;
}
.box4{
    background-color:olive;
     position: absolute;
     bottom: 0;
     right: 0;
}
.container{
    background-color: orchid;
    width: 400px;
    height: 400px;
      margin-left: 500px;
      margin-top: 200px;
      position: relative;
}
.box{
    background-color: blue;
    width: 100px;
    height: 100px;
    position: absolute;
    right: -50px;
    top: 150px;
}
