body{
    background-color:#ffffff;
}


p{
    color: greenyellow;
    border:3px solid black;
}

a{
    color:grey;
    font-size:25px;
}
div{
    font-size: x-large;
    color: coral;
}
h1{
    font-size: xx-large;
    color: black;
    background-color: yellow;
}
h2{
    font-size: 30px;
    background-color: aqua;
    opacity:0.72;
}
main{
font-size:35px;
color:rgba(123,234,0,0.56);
}
h3{
    color:darkred;

}

