h1{
    font-size: 6rem;
    font-family: cursive;
}
body{
    background-image: radial-gradient(cyan, orchid);
    
}
.tap{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    justify-content:space-around;
    
}
.hello{
    padding: 32px 48px;
    border: 2px solid white;
    border-radius: 1.2rem;
   width: 150px;
}