.container{
    border: 2px solid black;
    width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-direction: column-reverse;
}
.box{
    width: 150px;
    height: 150px;
    font-size: 4rem;
    text-align: center;
}
h1{
    font-family: sans-serif;
    text-align: center;
    font-size: 6rem;
}