.container{
    border: 2px solid black;
    width: 1200px;
    height: 500px;
    margin: 40px auto;
    display: flex;
   justify-content: center;
   align-items: center;
}
.box{
    width: 150px;
    height: 150px;
    font-size: 4rem;
}
h1{
    font-family: sans-serif;
    font-size: 6rem;
}
.cup{
    align-self: flex-start;
}