h1{
    font-family:Aoboshi One ;
    text-align: justify;
    word-spacing: 15px;
    font-size: 85px;
    line-height: 85px;
    
}
h2{
    font-family:Astloch ;
    word-spacing: 20px;
    font-size:65px;
    text-align: justify;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 20px;
    text-align: justify;
}
div{
    width: 55%;
}
strong{
    text-shadow: 5px 5px 5px cyan,-5px -5px 5px pink,15px 15px 15px olive,20px 20px 20px salmon ;
}